news.version=3.4.1

data.location=~/.local/share/task
hooks.location=~/.config/task/hooks
{{ if eq .profile "personal" -}}
{{ include ".chezmoitemplates/taskchampion-sync.age" | decrypt -}}
{{ end -}}
