#!/bin/sh

# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{ if eq .osid "linux-debian" }}
sudo apt install -y {{ .packages.debian.apt | join " " }}
{{ range .packages.debian.go -}}
go install {{ . }}
{{ end }}
{{ range .tarball -}}
  # Download the tarball
  curl -L -o /home/jack/{{ .binary }}.tar.gz {{ .url }}
  
  # Extract the binary to /usr/local/bin
  sudo tar -xf /home/jack/{{ .binary }}.tar.gz -C /usr/local/bin {{ .binary }}
  
  # Clean up
  rm /tmp/{{ .binary }}.tar.gz
{{ end }}
{{ else if eq .osid "linux-arch" }}
sudo pacman -Syu --noconfirm --needed {{ .packages.arch.pacman | join " " }}
{{ if .blackarch }}
sudo pacman -Syu --noconfirm --needed {{ .packages.arch.blackarch | join " " }}
{{ end }}
yay -Syu --noconfirm --needed {{ .packages.arch.yay | join " " }}
{{ else if eq .osid "darwin" }}
brew bundle --file=/dev/stdin << EOF
{{ range .packages.darwin.tap -}}
tap "{{ . }}"
{{ end }}
{{ range .packages.darwin.brew -}}
brew "{{ . }}"
{{ end }}
{{ range .packages.darwin.cask -}}
cask "{{ . }}"
{{ end }}
EOF
{{ end }}
