#!/bin/sh

dockutil --remove all
dockutil --add /Applications/Launchpad.app
dockutil --add /Applications/Messages.app
dockutil --add /Applications/Firefox.app
dockutil --add /Applications/Spotify.app
{{ - if eq .context "home" }}
dockutil --add /Applications/Plex.app
{{ - end }}
dockutil --add /Applications/Obsidian.app
dockutil --add ~/Downloads --view fan --display stack --sort dateadded
