{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

scriptTempDir = "~/tmp"
encryption = "age"

[data]
	{{ $headless := false }}
	{{- $profile := "personal" -}}
	osid = {{ $osid | quote }}
	{{- if and (hasKey .chezmoi.osRelease "id")  (eq .chezmoi.osRelease.id "arch") }}
	keyboardLayout = {{ promptChoice "keyboard layout" (list "win" "mac") | quote }}
	{{- else }}
	keyboardLayout = "mac"
	{{- end }}
	{{- if or (eq $osid "linux-debian") (eq $osid "linux-arch") }}
	{{ $headless = promptBool "headless" true }}
	{{- end }}
	headless = {{ $headless }}
	{{- if eq .chezmoi.os "darwin" }}
	{{- $profile = promptChoice "profile" (list "work" "personal") }}
	{{- end }}
	profile = {{ $profile | quote }}
{{ if and (eq .chezmoi.os "darwin") (eq $profile "personal") -}}
[age]
	identity = "/Users/jackwiseman/key.txt"
	recipient = "age1rccvfufdgnjlytgdcn4p8kyjt45a8z4hvz32vaf5tdvwl803yeesstx64u"
{{- end -}}
