{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this screen does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if machine is ephemeral ie cloud or VM */}}
{{- "" -}]

{{- if not $headless -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{- end -}}

[data]
    headless = {{ $headless }}
    ephemeral = {{ $ephemeral }}
