tap "cirruslabs/cli"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "hpedrorodrigues/tools"
tap "jakehilborn/jakehilborn"
tap "jackwiseman/brews" 
brew "capstone"
brew "chezmoi"
brew "diff-so-fancy"
brew "fd"
brew "figlet"
brew "fileicon"
brew "fnm"
brew "fzf"
brew "git-semantic-commits"
brew "glib"
brew "go", link: true
brew "hyperfine"
brew "jakehilborn/jakehilborn/displayplacer"
brew "jpeg-turbo"
brew "jq"
brew "libpng"
brew "libslirp"
brew "libssh"
brew "libusb"
brew "lzo"
brew "mgitstatus"
brew "neovim"
brew "node"
brew "openssl@3"
brew "pixman"
brew "pyenv"
brew "qemu"
brew "readline"
brew "ripgrep"
brew "snappy"
brew "sqlite"
brew "task"
brew "tldr"
brew "tmux"
brew "tmuxp"
brew "vde"
brew "wget"
brew "xz"
brew "yarn"
brew "z"
brew "zlib"
cask "1password"
cask "1password/tap/1password-cli"
cask "alfred"
cask "alacritty"
cask "dockutil"
cask "docker"
cask "font-monaco-patched"
cask "font-sf-mono-for-powerline"
cask "gas-mask"
cask "google-chrome"
cask "gpg-suite"
cask "hammerspoon"
cask "hiddenbar"
cask "karabiner-elements"
cask "obsidian"
cask "slack"
cask "spotify"
cask "tableplus"
cask "xbar"

brew "mas"
mas "Magnet", id: 441258766

{{- if eq .chezmoi.hostname "jack-home" }}
cask "fl-studio"
cask "lunasea"
cask "private-internet-access"
mas "1Password for Safari", id: 1569813296
mas "AdGuard for Safari", id: 1440147259
mas "Infuse", id: 1136220934
mas "Tailscale", id: 1475387142
mas "Xcode", id: 497799835
{{- end }}
