tap "cirruslabs/cli"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "hpedrorodrigues/tools"
tap "jakehilborn/jakehilborn"
tap "jackwiseman/tap"
brew "chezmoi"
brew "readline"
brew "xz"
brew "fd"
brew "figlet"
brew "fileicon"
brew "fnm"
brew "fzf"
brew "go"
brew "hyperfine"
brew "mas"
brew "neovim"
brew "node"
brew "openssl@3"
brew "pyenv"
brew "ripgrep"
brew "sqlite"
brew "task"
brew "tldr"
brew "tmux"
brew "wget"
brew "yarn"
brew "zlib"
brew "jakehilborn/jakehilborn/displayplacer"
cask "1password"
cask "alfred"
cask "dockutil"
cask "font-sf-mono-for-powerline"
cask "font-monaco-patched"
cask "gas-mask"
cask "google-chrome"
cask "hiddenbar"
cask "iterm2"
cask "karabiner-elements"
cask "slack"
cask "spotify"
cask "tableplus"

{{/* */}}
{{- if (not .ephemeral) -}}
mas "Magnet", id: 441258766
mas "Spark", id: 1176895641
{{ end }}

{{ if eq .chezmoi.hostname "jack-home" }}
cask "fl-studio"
cask "lunasea"
cask "private-internet-access"
cask "vmware-fusion"
mas "AdGuard for Safari", id: 1440147259
mas "Infuse", id: 1136220934
mas "Xcode", id: 497799835
{{ end }}
