# #!/bin/bash
#  {{ if eq .chezmoi.os "linux" }}
#  wget https://github.com/neovim/neovim/releases/download/stable/nvim-linux64.tar.gz
#  echo "fee870b6173f1da134281824a744ada91ef612723bd328683dc941ef16837ec5 nvim-linux64.tar.gz" | sha256sum --check && tar xzvf nvim-linux64.tar.gz && mv nvim-linux64/bin/nvim .
#  sha256sum nvim-linux64.tar.gz
#  {{- end -}}
