[user]
    email = "40647382+jackwiseman@users.noreply.github.com"
    name = "Jack Wiseman"
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDegFGvaM36XP979CGDxMlQPR3VmevBrEHA3aYFjtroo
    pager = delta
[core]
    excludesFile = ~/.gitignore # Add a global gitignore
[delta]
    navigate = true
    side-by-side = true
    diff-so-fancy = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[push]
    default = current
[interactive]
    diffFilter = delta --color-only
{{- if eq .profile "personal" }}
[credential "https://git.wiseman.sh"]
    helper = 1password
{{- end }}
{{- if and (eq .osid "darwin") (ne .profile "minimal") }}
[url "git@github.com:"]
    insteadOf = https://github.com
{{- end }}
{{- if and (eq .osid "darwin") (ne .profile "minimal") }}
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
{{- end }}
