export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"


export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export ZIM_HOME="$XDG_DATA_HOME/zim"

export EDITOR="nvim"
export VISUAL="nvim"

export HISTFILE="$ZDOTDIR/.zhistory"
export HISTSIZE=10000
export SAVEHIST=10000

export FZF_ALT_C_COMMAND="" # disable fzf's annoying alt-c bind

export SSH_AUTH_SOCK="$HOME/.1password/agent.sock" # should only be set on desktop



export GOPATH=~/go
export DISABLE_AUTO_TITLE=true
export HOMEBREW_NO_AUTO_UPDATE=1
export TLDR_AUTO_UPDATE_DISABLED=true
export EDITOR=nvim

# use 1password for ssh
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock

{{ if eq .osid "darwin" }}
export CPPFLAGS="-I$(xcrun -show-sdk-path)/usr/include"
. "$HOME/.cargo/env"
{{ end }}
