[user]
    email = "40647382+jackwiseman@users.noreply.github.com"
    name = "Jack Wiseman"
    signingkey = 0C9B9E35D2F03725
[core]
    excludesFile = ~/.gitignore # Add a global gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
[push]
    default = current
[interactive]
    diffFilter = diff-so-fancy --patch
[url "git@github.com:"]
{{ if eq .context "work" }}
    insteadOf = https://github.com
{{ else }}
    pushInsteadOf = https://github.com
{{ end }}
