[user]
    email = "40647382+jackwiseman@users.noreply.github.com"
    name = "Jack Wiseman"
    signingkey = 0C9B9E35D2F03725
[core]
    excludesFile = ~/.gitignore # Add a global gitignore
    pager = delta
[delta]
    navigate = true
    side-by-side = true
    diff-so-fancy = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[push]
    default = current
[interactive]
    diffFilter = delta --color-only
