
/*@define-color surface2 #5b6078;*/
/*@define-color base #282828;*/
/*@define-color white #ebdbb2;*/

/* dark mode */
@define-color red {{ .gruvbox.red }};
@define-color light-red {{ .gruvbox.bright_red }};
@define-color green {{ .gruvbox.green }};
@define-color light-green {{ .gruvbox.bright_green }};
@define-color yellow {{ .gruvbox.yellow }};
@define-color light-yellow {{ .gruvbox.bright_yellow }};
@define-color blue {{ .gruvbox.blue }};
@define-color light-blue {{ .gruvbox.bright_blue }};
@define-color purple {{ .gruvbox.purple }};
@define-color light-purple {{ .gruvbox.bright_purple }};
@define-color aqua {{ .gruvbox.aqua }};
@define-color light-aqua {{ .gruvbox.bright_aqua }};
@define-color orange {{ .gruvbox.orange }};
@define-color light-orange {{ .gruvbox.bright_orange }};
@define-color gray {{ .gruvbox.fg4 }};
@define-color light-gray {{ .gruvbox.gray }};

@define-color bg0 {{ .gruvbox.bg0 }};
@define-color bg0_h {{ .gruvbox.bg0_h }};
@define-color bg0_s {{ .gruvbox.bg0_s }};
@define-color bg1 {{ .gruvbox.bg1 }};
@define-color bg2 {{ .gruvbox.bg2 }};
@define-color bg3 {{ .gruvbox.bg3 }};
@define-color bg4 {{ .gruvbox.bg4 }};

@define-color fg4 {{ .gruvbox.fg4 }};
@define-color fg3 {{ .gruvbox.fg3 }};
@define-color fg2 {{ .gruvbox.fg2 }};
@define-color fg1 {{ .gruvbox.fg1 }};
@define-color fg0 {{ .gruvbox.fg0 }};

@define-color black @bg0;
@define-color white @fg0;
