# system
alias shutdown="sudo shutdown now"
alias restart="sudo reboot"

# ls
alias ls="ls --color=auto"
alias l="ls -la -FG"

# just
alias j="just"
alias jg="just -g"

# ssh but force password authentication
alias ssh-onetime="ssh -o PubkeyAuthentication=no -o PreferredAuthentications=password -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"

# git
alias ga="git add"
alias gs="git status"
alias gd="git diff"
alias gc="git commit -m"

# docker
alias lzd="lazydocker"

# files (these might get annoying)
alias cp="cp -iv"
alias mv="mv -iv"

# funnel everything to editor environment variable
alias v=$EDITOR
alias vi=$EDITOR

# open a temp directory
tempe () {
  cd "$(mktemp -d)"
  chmod -R 0700 .
  if [[ $# -eq 1 ]]; then
    \mkdir -p "$1"
    cd "$1"
    chmod -R 0700 .
  fi
}

# misc
alias :q="exit"

{{ if eq .chezmoi.os "darwin" }}
alias obsidian="cd ~/obsidian && nvim -c ':Telescope find_files'"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
alias open="xdg-open"
{{ end }}
