#!/bin/sh

dockutil --remove all
dockutil --add /Applications/Launchpad.app
{{- if eq .context "home" }}
{{- if not .ephemeral }}
dockutil --add /Applications/Messages.app
{{- end }}
dockutil --add /Applications/Firefox.app
{{ else }}
dockutil --add "/Applications/Google Chrome.app"
dockutil --add /Applications/Slack.app
{{- end }}
dockutil --add /Applications/Spotify.app
{{- if eq .context "home" }}
dockutil --add /Applications/Plex.app
{{- end }}
dockutil --add /Applications/Obsidian.app
dockutil --add ~/Screenshots --view fan --display stack --sort dateadded
dockutil --add ~/Downloads --view fan --display stack --sort dateadded
