black='{{ .colors.gruvbox.bg0 }}'
white='{{ .colors.gruvbox.fg1 }}'
red='{{ .colors.gruvbox.red }}'
green='{{ .colors.gruvbox.green }}'
blue='{{ .colors.gruvbox.blue }}'
yellow='{{ .colors.gruvbox.yellow }}'
gray='{{ .colors.gruvbox.gray }}'
darkgray='{{ .colors.gruvbox.bg1 }}'
lightgray='{{ .colors.gruvbox.bg2 }}'
inactivegray='#7c6f64'
