black='{{ .gruvbox.bg0 }}'
white='{{ .gruvbox.fg1 }}'
red='{{ .gruvbox.bright_red }}'
green='{{ .gruvbox.bright_green }}'
blue='{{ .gruvbox.bright_blue }}'
yellow='{{ .gruvbox.bright_orange }}'
gray='{{ .gruvbox.fg4 }}'
darkgray='{{ .gruvbox.bg1 }}'
lightgray='{{ .gruvbox.bg2 }}'
inactivegray='{{ .gruvbox.bg4 }}'
