# remap prefix from 'C-b' to 'C-a'
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# change window split bind to (v)ertical and (s)plit
bind v split-window -h
bind s split-window -v
unbind '"'
unbind %

# Activate OFF mode
bind -n S-Up \
    set prefix None \;\
    set key-table off \;\
    set status-style "fg=colour245,bg=colour238"

# Disable OFF mode
bind -T off S-Down \
    set -u prefix \;\
    set -u key-table \;\
    set -u status-style

# copy and paste
#set-option -g default-command "reattach-to-user-namespace -l zsh"

# defeats the purpose of tmuxing, but makes it helpful
set -g mouse on

# Smart pane switching with awareness of Vim splits.
# See: https://github.com/christoomey/vim-tmux-navigator
is_vim="ps -o state= -o comm= -t '#{pane_tty}' \
    | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"
bind-key -n 'C-h' if-shell "$is_vim" 'send-keys C-h'  'select-pane -L'
bind-key -n 'C-j' if-shell "$is_vim" 'send-keys C-j'  'select-pane -D'
bind-key -n 'C-k' if-shell "$is_vim" 'send-keys C-k'  'select-pane -U'
bind-key -n 'C-l' if-shell "$is_vim" 'send-keys C-l'  'select-pane -R'
tmux_version='$(tmux -V | sed -En "s/^tmux ([0-9]+(.[0-9]+)?).*/\1/p")'
if-shell -b '[ "$(echo "$tmux_version < 3.0" | bc)" = 1 ]' \
    "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\'  'select-pane -l'"
if-shell -b '[ "$(echo "$tmux_version >= 3.0" | bc)" = 1 ]' \
    "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\\\'  'select-pane -l'"

bind-key -T copy-mode-vi 'C-h' select-pane -L
bind-key -T copy-mode-vi 'C-j' select-pane -D
bind-key -T copy-mode-vi 'C-k' select-pane -U
bind-key -T copy-mode-vi 'C-l' select-pane -R
bind-key -T copy-mode-vi 'C-\' select-pane -l

set-option -g status-position bottom
set-window-option -g xterm-keys on
set-option -g status-fg white
## set-option -g status-style bg=default
set-option -g status-style bg="#3a3836" # renders as #3b3836
#set-window-option -g window-status-current-style fg=red
set-window-option -g window-status-current-style fg="#fb4934"
set-option -g pane-active-border-style fg=default
set-option -g pane-active-border-style bg=default
set -g status-left " "
set -g status-justify centre
setw -g window-status-format         ' #(echo "#{pane_current_command}") '
setw -g window-status-current-format ' #(echo "#{pane_current_command}") '

set -g status-right " "
## set -g status-right {{ if eq .context "work" }}"🚀"{{ else if eq .context "home" }}"⛵️"{{ else }}""{{ end }}

# Start windows and panes at 1, not 0, and keep them visually constant
set -g base-index 1
setw -g pane-base-index 1
set-option -g renumber-windows on

# improve response time
set-option -sg escape-time 10

# enable focus events
set-option -g focus-events on

# general
set-option -sa terminal-features ',alacritty:RGB'
set -g default-terminal "screen-256color"
set-option -g history-limit 100000
