{{- if eq .context "work" }}
[default_session]
path = "~/go/src/github.com/ezoic/"
{{- end }}

[[session]]
name = "configs"
path = "~/.local/share/chezmoi"
# startup_command = "nvim tmux.conf"

[[session]]
name = "root-with-notes"
path = "~/Desktop"
startup_script="~/.local/bin/tmux_root_with_notes"
